@import url("../css/vars.css");

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1, "ss01" 1;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

html,
body {
  width: 100vw;
  height: 100vh;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
  background: var(--cream-100);
  color: var(--base-white);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
}

a,
a:hover,
.copy {
  display: inline-block;
  cursor: pointer;
  color: var(--base-white);
  text-decoration: none;
}

b {
  font-weight: 700;
}

p {
  padding: 0px;
  margin: 0px;
}

#nav {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 32px;
  width: calc(100vw - 64px);
  display: flex;
  align-items: flex-start;
  gap: 0px;
  flex: 1 0 0;
  text-transform: uppercase;
  z-index: 999;
  mix-blend-mode: exclusion;
}

.left {
  display: flex;
  padding: 0px;
  align-items: flex-start;
  gap: 0px;
  flex: 1 0 0;
}

.column {
  display: flex;
  width: -webkit-fill-available;
  padding: 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  flex: 1 0 0;
}

.right {
  align-items: flex-end;
}

#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding: 32px;
  width: calc(100vw - 64px);
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 2px;
  flex: 1 0 0;
  text-transform: uppercase;
  z-index: 1;
  mix-blend-mode: exclusion;
}

.logo-middle {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  padding: 32px;
  width: calc(100vw - 64px);
  height: calc(100vh - 64px);
  pointer-events: none;
  z-index: 99999;
  mix-blend-mode: darken;
}

.logo-middle img {
  max-width: 100%;
}

.trails {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  isolation: isolate;
  z-index: 1;
}

.trails img {
  width: 250px !important;
  max-width: 250px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  will-change: transform;
}

#tooltip {
  pointer-events: none;
  position: fixed;
  bottom: 32px;
  left: 50%;
  transform: translate(-50%, 4px) scale(0.96, 0.96);
  filter: blur(2px);
  text-align: center;
  width: max-content;
  max-width: calc(100vw - 40px - 24px);
  padding: 8px 12px;
  background: var(--platinum-900);
  border-radius: 3px;
  z-index: 9999999;
  transition-duration: 0.2s;
  opacity: 0;
}

#tooltip.show {
  transform: translate(-50%, 0px) scale(1, 1);
  filter: blur(0px);
  transition-duration: 0.2s;
  opacity: 1;
}

@media (pointer: none) or (pointer: coarse) {
  .trails {
    display: none !important;
    opacity: 0 !important;
  }

  .logo-middle {
    mix-blend-mode: normal;
  }

  #slideshow,
  .slide {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .slide {
    display: none;
  }

  .slide.show {
    display: block;
  }
}

.modal{
  position: fixed;
  top: 0px;
  left: 0px;
  width: calc(100vw - 32px);
  height: 100%;
  background: var(--titanium-900-80);
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

.modal-content{
  width: 100%;
  max-width: 500px;
  background: var(--base-white);
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.modal-content .wallpaper{
  position: relative;
  text-align: center;
  background: var(--titanium-200);
  padding: 16px;
  width: initial;
  aspect-ratio: 1/1;
}

.wallpaper .download{
  position: absolute;
  height: calc(100% - 32px);
  left: 50%;
  transform: translateX(-50%);
  aspect-ratio: 2/3;
}

#close {
  position: absolute;
  right: 10px;
  top: 10px;
}

.wallpaper-copy{
  position: absolute;
  opacity: 0.6;
  width: calc(100% - 32px);
  bottom: 32px;
  color: var(--base-white);
  font-size: 12px;
  line-height: 120%;
  text-align: center;
  mix-blend-mode: color-dodge;
  pointer-events: none;
}

.modal-copy{
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  color: var(--titanium-900);
}

.modal-copy a{
  text-decoration: underline;
  color: inherit;
}

.follow{
  padding-top: 14px;
  text-align: center;
  width: -webkit-fill-available;
}

@media (max-width: 440px) {
  #nav {
    padding: 20px;
    width: calc(100vw - 40px);
  }

  #footer {
    padding: 20px;
    width: calc(100vw - 40px);
  }

  .logo-middle {
    padding: 20px;
    width: calc(100vw - 40px);
    height: calc(100vh - 40px);
  }

  #tooltip {
    bottom: 20px;
  }
}

@media (max-width: 680px) {
  #nav {
    flex-direction: column;
    gap: 2px;
  }

  .kill-sm {
    display: none;
  }

  .right {
    align-items: flex-start;
  }
}

@media (max-width: 840px) {
  .kill-md {
    display: none;
  }
}

@media (max-width: 1080px) {
  .kill-lg {
    display: none;
  }
}
