@import url("../css/vars.css");
@import url("../css/fonts.css");

html,
body {
  width: 100vw;
  height: 100vh;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
  background: var(--matcha-200);
  color: var(--base-white);
  font-family: RM Neue;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}

a,
a:hover {
  color: var(--base-white);
  text-decoration: none;
}

b {
  font-weight: 700;
}

#nav {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 32px;
  width: calc(100vw - 64px);
  display: flex;
  align-items: flex-start;
  gap: 0px;
  flex: 1 0 0;
  text-transform: uppercase;
  z-index: 999;
  mix-blend-mode: exclusion;
}

.left {
  display: flex;
  padding: 0px;
  align-items: flex-start;
  gap: 0px;
  flex: 1 0 0;
}

.column {
  display: flex;
  width: -webkit-fill-available;
  padding: 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  flex: 1 0 0;
}

.right {
  align-items: flex-end;
}

#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding: 32px;
  width: calc(100vw - 64px);
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 2px;
  flex: 1 0 0;
  text-transform: uppercase;
  z-index: 1;
  mix-blend-mode: exclusion;
}

.logo-middle {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  padding: 32px;
  width: calc(100vw - 64px);
  height: calc(100vh - 64px);
  pointer-events: none;
  z-index: 99999;
  mix-blend-mode: multiply;
}

.logo-middle img {
  max-width: 100%;
}

.trails {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  isolation: isolate;
  z-index: 1;
}

.trails img {
  max-width: 250px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  will-change: transform;
}

#tooltip {
  pointer-events: none;
  position: fixed;
  bottom: 76px;
  left: 50%;
  transform: translate(-50%, 4px) scale(0.96, 0.96);
  filter: blur(2px);
  text-align: center;
  width: max-content;
  max-width: calc(100vw - 40px - 24px);
  padding: 8px 12px;
  background: var(--platinum-900);
  border-radius: 3px;
  z-index: 9999999;
  transition-duration: 0.1s;
  opacity: 0;
}

#tooltip.show {
  transform: translate(-50%, 0px) scale(1, 1);
  filter: blur(0px);
  opacity: 1;
}

@media (pointer: none) or (pointer: coarse) {
  .trails {
    display: none !important;
    opacity: 0 !important;
  }
  body {
    background-image: url(../assets/background.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .logo-middle {
    mix-blend-mode: normal;
  }
}

@media (max-width: 440px) {
  #nav {
    padding: 20px;
    width: calc(100vw - 40px);
  }

  #footer {
    padding: 20px;
    width: calc(100vw - 40px);
  }

  .logo-middle {
    padding: 20px;
    width: calc(100vw - 40px);
    height: calc(100vh - 40px);
  }
}

@media (max-width: 680px) {
  #nav {
    flex-direction: column;
    gap: 2px;
  }

  .kill-sm {
    display: none;
  }

  .right {
    align-items: flex-start;
  }
}

@media (max-width: 840px) {
  .kill-md {
    display: none;
  }
}

@media (max-width: 1080px) {
  .kill-lg {
    display: none;
  }
}
